@font-face {
  font-family: PTSans;
  font-weight: 400;
  src: url("../fonts/PT_Sans-Web-Regular.woff") format("woff");
}
@font-face {
  font-family: PTSans;
  font-weight: 700;
  src: url("../fonts/PT_Sans-Web-Bold.woff") format("woff");
}
@media screen and (min-width: 1025px) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
p {
  line-height: 2;
  margin-top: 0;
  margin-bottom: 1rem;
}
p:last-child {
  margin-bottom: 0;
}
ul {
  line-height: 1.7;
}
body {
  font-family: PTSans, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: #fff;
  margin: 0;
  color: #000000;
}
.main-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
}
.title {
  margin-top: 0;
  margin-bottom: 0;
}
.title_xl {
  font-size: 2.8rem;
}
.title_l {
  font-size: 2.6rem;
}
.title_m {
  font-size: 2rem;
}
.title_s {
  font-size: 1.5rem;
}
@media screen and (min-width: 1025px) {
  .header__logo {
    margin-right: 3%;
    width: 14%;
  }
  .header__schedules {
    margin-left: 3rem;
    margin-right: 2.5%;
    width: 14%;
  }
  .header__form {
    margin-right: 5%;
    width: 42%;
  }
  .header__contact {
    width: 14%;
    margin-left: 3rem;
  }
  .header__contact-text_tel {
    font-size: 2rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header__logo {
    width: 30%;
  }
  .header__form {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 1rem;
  }
  .header__contact-text_tel {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .header__form {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 2rem;
  }
  .header__logo {
    width: 70%;
    margin-bottom: 1rem;
  }
  .header__schedules {
    width: 30%;
    margin-left: 4rem;
  }
  .header__contact {
    width: 40%;
    margin-left: 4rem;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__schedules {
  position: relative;
}
.header__schedule {
  position: relative;
}
.header__schedule::before {
  position: absolute;
  content: "";
  left: -25px;
  top: 0;
  background-image: url(../images/time.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.header__schedule-name {
  font-weight: 700;
}
.header__form-hint {
  font-weight: 700;
}
.header__form-fieldbox {
  position: relative;
  margin-top: .5rem;
}
.header__form-fieldbox::before {
  position: absolute;
  content: "";
  left: 1.2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.header__form-input {
  width: 100%;
  padding-top: .7rem;
  padding-bottom: .7rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  border: 1px solid #000000;
}
.header__form-input::-webkit-input-placeholder {
  color: #bebec0;
}
.header__form-input::-ms-input-placeholder {
  color: #bebec0;
}
.header__form-input:-ms-input-placeholder {
  color: #bebec0;
}
.header__form-input::placeholder {
  color: #bebec0;
}
.header__form-label {
  position: absolute;
  left: -9999px;
}
.header__form-button {
  background: none;
  border: none;
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/keyboard_return.png);
  background-repeat: no-repeat;
  right: 1.2rem;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
}
.header__contact-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.header__contact-list-item {
  position: relative;
}
.header__contact-list-item::before {
  position: absolute;
  content: "";
  left: -25px;
  top: 0;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}
.header__contact_phone::before {
  background-image: url(../images/phone.svg);
}
.header__contact_location::before {
  background-image: url(../images/location.svg);
}
.header__contact_email::before {
  background-image: url(../images/email.svg);
}
.header__contact-text_tel {
  font-weight: 700;
}
.menu {
  background-color: #384997;
}
.menu__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.menu__list-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 1.5rem;
}
.menu__list-item:last-of-type {
  margin-right: 0;
}
.menu__link {
  display: inline-block;
  color: #fff;
  padding: 1.5rem;
}
@media screen and (min-width: 1025px) {
  .content__main-info {
    width: 60%;
    display: inline-block;
    margin-right: 8%;
    vertical-align: top;
  }
  .content__aside-info {
    width: 30%;
    display: inline-block;
    vertical-align: top;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .content__aside-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 3rem;
  }
  .content__aside-inner {
    width: 40%;
  }
}
.content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.content__title {
  margin-bottom: 2.6rem;
}
.content__form {
  background-color: #f5f9fa;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
.content__form-row {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 4rem;
}
.content__form-hint {
  font-weight: 700;
}
.content__form-fieldbox {
  margin-top: 0.5rem;
  position: relative;
}
.content__form-fieldbox::before {
  position: absolute;
  content: "";
  left: 1.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.content__form-fieldbox_name::before {
  background-image: url(../images/person.png);
}
.content__form-fieldbox_date::before {
  background-image: url(../images/date_range.png);
}
.content__form-label {
  position: absolute;
  left: -9999px;
}
.content__form-input {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #bebec0;
  background-color: #f5f9fa;
}
.content__form-input::-webkit-input-placeholder {
  color: #bebec0;
}
.content__form-input::-ms-input-placeholder {
  color: #bebec0;
}
.content__form-input:-ms-input-placeholder {
  color: #bebec0;
}
.content__form-input::placeholder {
  color: #bebec0;
}
.contact__form-button {
  width: 100%;
  background-color: #4758a5;
  color: #fff;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}
.documents__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.6rem;
}
.documents__document-column:not(:last-of-type) {
  margin-bottom: 1rem;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .documents {
    width: 40%;
  }
}
.document {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.document__image {
  margin-right: 1rem;
  width: 40px;
  height: 40px;
}
.last-news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.last-news {
  margin-bottom: 8rem;
}
.last-news__header {
  margin-bottom: 2rem;
}
@media screen and (min-width: 1025px) {
  .last-news__item {
    width: 30%;
  }
}
.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.story__time-day {
  font-size: 4.5rem;
  color: #384997;
  font-weight: 700;
}
.story__time-month {
  font-size: 1.7rem;
}
.story__time {
  text-align: center;
  width: 15%;
}
.story__time-day,
.story__time-month {
  display: block;
}
.story__inner {
  margin-top: 1rem;
  width: 80%;
  margin-left: 1.5rem;
}
.story__title {
  margin-top: .3rem;
}
.story__link {
  color: inherit;
}
.footer {
  background-color: #384997;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footer__column {
  display: inline-block;
  vertical-align: top;
  margin-right: 2rem;
}
.footer__column:last-of-type {
  margin-right: 0;
}
.footer__title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.footer__name {
  font-weight: 700;
}
.footer__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.footer__container {
  position: relative;
  font-size: 1.3rem;
}
.footer__company-name {
  position: absolute;
  bottom: 0;
  right: 1rem;
}
