@media screen and (min-width: 769px) and (max-width: 1024px) {

  .aside{
    display: flex;
    justify-content: space-between;
  }

  .aside__form-container, .aside__documents{
    width: 45%;
  }
}

.aside__form{
  background-color: #f5f9fa;
  padding-top: 4rem;
  padding-bottom: 3rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 1.5rem;
}

.aside__form-title{
  margin-bottom: 3rem;
}

.aside__form-row{
  margin-bottom: 3rem;
}

.aside__form-button{
  width: 100%;
  background-color: @additional-color;
  color: @white-color;
  text-transform: uppercase;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
  transition: background-color .5s;
  font-size: 1.5rem;

  &:hover{
    background-color: @main-color;
  }
}

.aside__documents{
  margin-top: 5rem;
}
