.breadcrumbs{
  background-color: @transparent-color;
  font-size: 1.5rem;
}

.breadcrumbs__container{
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.breadcrumbs__link{
  color: @main-color;
}

.breadcrumbs__symbol{
  font-weight: 700;
  margin-left: 1rem;
  margin-right: 1rem;
}

.breadcrumbs__name{
  font-weight: 700;
}
