@media screen and (min-width: 1025px) {

  .content__main-info{
    width: 60%;
    display: inline-block;
    margin-right: 8%;
    vertical-align: top;
  }

  .content__aside-info{
    width: 30%;
    display: inline-block;
    vertical-align: top;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

  .content__aside-info{
    display: flex;
    justify-content: space-between;
  }

  .content__aside-inner{
    width: 40%;
  }
}

@media screen and (max-width: 1024px) {

  .content__aside-info{
    margin-top: 3rem;
  }
}

.content{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.content__header, .content__form-header{
  margin-bottom: 2.6rem;
}

.content__form{
  background-color: @transparent-color;
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
  font-size: 1.5rem;
}

.content__form-row{
  margin-bottom: 3rem;

  &:last-of-type{
    margin-bottom: 0;
  }
}

.content__form-label{
  font-weight: 700;
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.content__form-fieldbox{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  position: relative;

  &::before{
    position: absolute;
    content: "";
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }
}

.content__form-fieldbox_name::before{
  background-image: url(../images/person.svg);
}

.content__form-fieldbox_date::before{
  background-image: url(../images/date_range.svg);
}

.content__form-input{
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  box-sizing: border-box;
  border: 1px solid @gray-color;
  background-color: @transparent-color;
  border-radius: 0;
  box-shadow: none;

  &::-moz-placeholder{
    color: @gray-color;
  }

  &::-webkit-input-placeholder{
    color: @gray-color;
  }

  &::-ms-input-placeholder{
    color: @gray-color;
  }

  &::placeholder{
    color: @gray-color;
  }
}

.contact__form-button{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: @additional-color;
  color: @white-color;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
  border: none;
  transition: background-color .5s;
  cursor: pointer;

  &:hover{
    background-color: @main-color;
  }
}
