@media screen and (min-width: 769px) {

  .documents__row{
    width: 30%;
    margin-top: 5rem;
    margin-right: 5%;

    &:nth-child(1){
      margin-top: 0;
    }

    &:nth-child(2){
      margin-top: 0;
    }

    &:nth-child(3){
      margin-top: 0;
    }

    &:nth-child(3n){
      margin-right: 0;
    }
  }

  .documents__links-page{
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {

  .documents__row:not(:last-child){
    margin-bottom: 1rem;
  }
}

.documents__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.6rem;
}

.documents__column:not(:last-of-type){
  margin-bottom: 1.5rem;
}

.documents__title{
  margin-bottom: 2.5rem;
}

.documents__link{
  display: flex;
  align-items: center;
}

.documents__icon{
  min-width: 40px;
  max-width: 40px;
  height: 46px;
  margin-right: 1rem;
}

.documents__name{
  color: @additional-color;
}
