@media screen and (min-width: 1025px) {

  .header__schedule:first-of-type{
    margin-bottom: 1.5rem;
  }

  .header__logo{
    width: 14%;
  }

  .header__form{
    width: 42%;
  }

  .header__info{
    max-width: 20%;
  }

  .header__switches{
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

  .header__logo{
    width: 30%;
  }

  .header__form{
    width: 100%;
    order: 1;
    margin-top: 1rem;
  }

  .header__switches{
    display: none;
  }
}

@media screen and (max-width: 768px) {

  .header__form{
    width: 100%;
    order: 1;
    margin-top: 2rem;
    display: none;
  }

  .header__info{
    display: none;
  }

  .header__logo{
    margin-bottom: 1rem;
    width: 50%;
  }

  .header__info:not(:last-of-type){
    margin-bottom: 1rem;
  }
}

.header{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.header__container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.header__form-fieldbox{
  position: relative;
  margin-top: .5rem;

  &::before{
    position: absolute;
    content: "";
    left: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
  }
}

.header__form-input{
  width: 100%;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border: 1px solid @black-color;
  border-radius: 0;
  box-shadow: none;

  &::-moz-placeholder{
    color: @gray-color;
  }

  &::-webkit-input-placeholder{
    color: @gray-color;
  }

  &::-ms-input-placeholder{
    color: @gray-color;
  }

  &::placeholder{
    color: @gray-color;
  }
}

.header__form-label{
  font-weight: 700;
}

.header__form-button{
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../images/keyboard_return.svg);
  background-repeat: no-repeat;
  right: 1.2rem;
  width: 22px;
  height: 22px;
  text-indent: -9999px;
  cursor: pointer;
}

.header__contact-list{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.header__contact-list-item{
  position: relative;

  &::before{
    position: absolute;
    content: "";
    left: -25px;
    top: 0;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
  }
}

.header__form_active{
  display: block;
}

.header__info_active{
  display: block;
}

.header__switches{
  min-width: 30%;
  text-align: right;
}

.header__switch{
  background: none;
  border: none;
  padding: 0;

  &:not(:last-of-type){
    margin-right: 2rem;
  }
}

.header__logo-link{
  display: block;
}
