@media screen and (min-width: 1025px) {

  .header__logo{
    margin-right: 3%;
    width: 14%;
  }

  .header__schedules{
    margin-left: 3rem;
    margin-right: 2.5%;
    width: 14%;
  }

  .header__form{
    margin-right: 5%;
    width: 42%;
  }

  .header__contact{
    width: 14%;
    margin-left: 3rem;
  }

  .header__contact-text_tel{
    font-size: 2rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

  .header__logo{
    width: 30%;
  }

  .header__form{
    width: 100%;
    order: 1;
    margin-top: 1rem;
  }

  .header__contact-text_tel{
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {

  .header__form{
    width: 100%;
    order: 1;
    margin-top: 2rem;
  }

  .header__logo{
    width: 70%;
    margin-bottom: 1rem;
  }

  .header__schedules{
    width: 30%;
    margin-left: 4rem;
  }

  .header__contact{
    width: 40%;
    margin-left: 4rem;
  }
}

.header__container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: space-between;
}

.header__schedules{
  position: relative;
}

.header__schedule{
  position: relative;

  &::before{
    position: absolute;
    content: "";
    left: -25px;
    top: 0;
    background-image: url(../images/time.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
}

.header__schedule-name{
  font-weight: 700;
}

.header__form-hint{
  font-weight: 700;
}

.header__form-fieldbox{
  position: relative;
  margin-top: .5rem;

  &::before{
    position: absolute;
    content: "";
    left: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
}

.header__form-input{
  width: 100%;
  padding-top: .7rem;
  padding-bottom: .7rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  border: 1px solid @black-color;

  &::-moz-placeholder{
    color: @gray-color;
  }

  &::-webkit-input-placeholder{
    color: @gray-color;
  }

  &::-ms-input-placeholder{
    color: @gray-color;
  }

  &::placeholder{
    color: @gray-color;
  }
}

.header__form-label{
  position: absolute;
  left: -9999px;
}

.header__form-button{
  background: none;
  border: none;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  background-image: url(../images/keyboard_return.png);
  background-repeat: no-repeat;
  right: 1.2rem;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
}

.header__contact-list{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.header__contact-list-item{
  position: relative;

  &::before{
    position: absolute;
    content: "";
    left: -25px;
    top: 0;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
  }
}

.header__contact_phone::before{
  background-image: url(../images/phone.svg);
}

.header__contact_location::before{
  background-image: url(../images/location.svg);
}

.header__contact_email::before{
  background-image: url(../images/email.svg);
}

.header__contact-text_tel{
  font-weight: 700;
}
