.info__name{
  font-weight: 700;
  display: block;
}

.info__value{
  display: block;
  color: inherit;
}

.info{
  position: relative;
  padding-left: 27px;
}

.info__icon{
  position: absolute;
  top: 0;
  left: 0;
}

.info__name_medium{
  font-size: 1.8rem;
}

.info__value_medium{
  font-size: 1.6rem;
  margin-top: 1rem;
  color: inherit;
}
