@media screen and (min-width: 1025px) {
  .info_schedule{
    margin-bottom: 1.5rem;
  }

  .info__value_phone{
    font-size: 2rem;
    font-weight: 700;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .info:not(:last-of-type){
    margin-bottom: .5rem;
  }
}

@media screen and (max-width: 768px) {

  .info:not(:last-of-type){
    margin-bottom: 1rem;
  }

  .header__info-1{
    margin-bottom: .5rem;
  }
}


.info__name{
  font-weight: 700;
  display: block;
}

.info__value{
  display: block;
}

.info{
  position: relative;
  padding-left: 3rem;
}

.info__value_phone{
  font-weight: 700;
}

.info__icon{
  position: absolute;
  top: 0;
  left: 0;
}
