.last-news__content{
  display: flex;
  flex-wrap: wrap;
}

.last-news{
  margin-bottom: 8rem;
}

.last-news__header{
  margin-bottom: 2rem;
}

@media screen and (min-width: 1025px) {

  .last-news__item{
    width: 30%;
  }
}
