@media screen and (min-width: 769px) {

  .menu__switch{
    display: none;
  }

  .menu__list-item{
    display: inline-block;
    vertical-align: top;
    margin-right: 1.5rem;

    &:last-of-type{
      margin-right: 0;
    }
  }

  .menu__link{
    padding: 1.5rem;
  }
}

@media screen and (max-width: 768px) {

  .menu__switch{
    width: 100%;
  }

  .menu__list{
    display: none;
  }

  .menu__list_active{
    display: block;
  }

  .menu__list-item{
    text-align: center;
  }

  .menu__link{
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.menu{
  background-color: @main-color;
}

.menu__list{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.menu__link{
  display: inline-block;
  color: @white-color;
}

.menu__switch{
  background: none;
  border: none;
  color: @white-color;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
