.menu{
  background-color: @main-color;
}

.menu__list{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.menu__list-item{
  display: inline-block;
  vertical-align: top;
  margin-right: 1.5rem;
}

.menu__list-item:last-of-type{
  margin-right: 0;
}

.menu__link{
  display: inline-block;
  color: @white-color;
  padding: 1.5rem;
}
