@media screen and (min-width: 1025px) {

  .page__inner{
    display: flex;
  }

  .page__content{
    flex-grow: 1;
  }

  .page__aside{
    width: 420px;
    margin-left: 8%;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 1024px) {

  .aside{
    margin-top: 3rem;
  }
}

.page{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page__inner{
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.page__layout{
  flex: 1 0 auto;
}

.page__title{
  margin-bottom: 2.6rem;
}
