.pagination{
  margin-top: 5rem;
  font-size: 1.8rem;
}

.pagination__item{
  color: @additional-color;
  padding: .6rem 1rem;
  display: inline-block;
}

.pagination__item_active{
  color: @white-color;
  background-color: @main-color;
}
