.story{
  display: flex;
}

.story__time-day{
  font-size: 4.5rem;
  color: @main-color;
  font-weight: 700;
}

.story__time-month{
  font-size: 1.7rem;
}

.story__time{
  width: 13%;
  text-align: center;
}

.story__inner{
  margin-top: 1rem;
  width: 60%;
  margin-left: 1.5rem;
}

.story__title{
  margin-top: .3rem;
}
